.float-right
  = link_to [:new, :parents, :redemption], class: "btn btn-primary" do
    %span.fas.fa-plus-circle
    Redeem Tokens

%h1.mb-4.mt-4 Reward Redemptions


= render "list", grid: @redemptions_grid
