- icon_only ||= false
.class-attendance{ style: "line-height: 0px;"}
  - if attendance_record.present?
    .icon-wrap{class: "#{attendance_record.presenter.status_icon}", style: "display: inline-block;"}
    - if !icon_only
      %span{style: "display: inline-block; margin-left: 5px;"}= attendance_record.presenter.status.text
  - else
    .icon-wrap{style: "display: inline-block;"}
