.float-right
  = link_to [:new, :parents, :transaction], class: "btn btn-primary" do
    %span.fas.fa-plus-circle
    Log Transaction

%h1.mb-4.mt-4 Transactions

= render "list", grid: @transactions_grid
