.row.justify-content-center.mt-5
  .col-12.col-md-10.col-lg-8
    .row.justify-content-center.mb-3
      .card.mb-4
        .card-body.min-400
          %h1 My Family Tokens
          %p
            %strong Kids on devices too much? Not outside enough?
            %br
            We help you reward the behavior you want.

          %strong The History
          %p
            A few months ago, our 4 year old would wake up in the morning and search for "her" phone, a hand me down that we had allowed
            her to use to play games on. If it was dead she would cry and cry over the phone. We knew something needed to change. Through reading
            #{link_to "Essentialism: The Disciplined Pursuit of Less", "https://gregmckeown.com/books/essentialism/"} the author mentioned a
            token system they do with their kids. If you read / spend time outside you earn a token. Screen time spends a token. If you earn tokens
            and don't spend them on screen time, they convert to money.

          %p
            We started this and found it solved a couple things for us:
            %ol
              %li Screen Time
              %li Allowance
            Now only does this encourage better behavior from our children, they now have a way to earn their allowance every week.

          .text-center
            %p
              = link_to "Create Account", new_user_registration_path, class: "btn btn-primary"

            %p
              = link_to "Token Tracker", [:kids], class: "btn btn-secondary"
              = link_to "Parent Login", [:parents], class: "btn btn-secondary"
