.row.justify-content-center.mt-5
  .col-12.col-md-10.col-lg-8
    .row.justify-content-center.mb-3
      .card.mb-4
        .card-body.min-400
          %h1 My Family Tokens

          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in lobortis sapien. Quisque in massa a arcu molestie congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque quam sapien, aliquam nec venenatis a, iaculis ac magna. Phasellus nunc ex, mollis ac dui vel, porttitor semper libero. Phasellus venenatis ante sit amet tempor iaculis. Maecenas nec libero egestas, tincidunt mauris vitae, venenatis magna. Suspendisse et magna ac diam condimentum imperdiet. Donec a erat eu augue pharetra mattis quis quis tellus.
          %p
            Pellentesque ac nisi vel orci varius egestas. Aenean a ipsum convallis libero vulputate mollis. Proin tempor nulla ipsum, eget convallis justo rhoncus eu. Donec volutpat ultricies nisi nec sollicitudin. Cras tincidunt diam erat, sed suscipit urna aliquet a. Maecenas eget facilisis massa, eget rhoncus nulla. Nunc sodales et ex ut bibendum. Aenean commodo ipsum at mi sodales suscipit. Duis arcu lorem, consequat eget volutpat sed, dignissim ac ex.

          .text-center
            %p
              = link_to "Create Account", new_user_registration_path, class: "btn btn-primary"

            %p
              = link_to "Kid Tracker", [:kids], class: "btn btn-secondary"
              = link_to "Parent Login", [:parents], class: "btn btn-secondary"
