- card_cols ||= nil
- if grid.assets.count == 0
  = render "common/datagrid/empty_list", grid: grid
- else
  = datagrid_cards(grid, card_cols: card_cols)
  = render "common/datagrid/pagination", grid: grid
